<div class="container bg-light p-4">

  <div class="row">
    <div class="col-9 m-auto">

      <h1 class="text-center"> Cadastro de produtos</h1>

      <div class="input-group mb-3">
        <input type="text"
         class="form-control"
          placeholder="Nome produto"
           aria-label="Username">

        <span class="input-group-text">ID</span>

        <input type="text"
         class="form-control"
           aria-label="ID">

      </div>

      <div class="form-floating">
        <textarea class="form-control"
         placeholder="Coloque a descrição do produto aqui"
          id="descrição"
          ></textarea>
        <label for="floatingTextarea">Descrição</label>

      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Preço</span>
        <input type="number"
         class="form-control"
          aria-label="Preço">
        <span class="input-group-text">R$</span>

        <span class="input-group-text">Quantidade</span>
  <input type="text"
     class="form-control"
     aria-label="Quantidade">
      </div>

      <button type="button" class="btn btn-primary">Salvar</button>
</div>
  