<div class="container bg-info-subtle p-4">
  <div class="row">
    <div class="col-7 m-auto">
      
      <form>
        <h1 class="text-center">Cadastro de produtos</h1>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Nome do produto" aria-label="Nome do produto">
          <span class="input-group-text">ID</span>
          <input type="text" class="form-control" aria-label="ID do produto">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Preço</span>
          <input type="number" class="form-control" aria-label="Preço do produto">
          <span class="input-group-text">R$</span>
          <span class="input-group-text">Quantidade</span>
          <input type="text" class="form-control" aria-label="Quantidade do produto">
        </div>

        <div class="form-floating">
          <textarea class="form-control" placeholder="Coloque a descrição do produto aqui" id="descricao"></textarea>
          <label for="descricao">Descrição</label>
        </div>

        <button type="button" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>

